<div class="stylish-form">
    <div class="form-section section4-wrapper" id="section4Container" style="display: none;">
        <div class="auto-renewal-group">
            <label class="custom-radio">
                <input type="radio" name="autoRenewalOption" value="AutoRenewal" />
                <span class="checkmark"></span> Auto-Renewal
            </label>

            <label class="custom-radio">
                <input type="radio" name="autoRenewalOption" value="StopAutoRenewal" />
                <span class="checkmark"></span> Stop Auto-Renewal
            </label>
        </div>

        <div class="upload-group" id="uploadGroup" style="display: none;">
            <label class="upload-label">Upload Files (Max 4): *</label>
            <input type="file" id="uploadFiles" multiple accept=".pdf,.jpg,.jpeg,.png,.doc,.docx" />
        </div>
    </div>

    <div class="uploaded-files" id="uploadedFilesList"></div>
</div>
